<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>asteroids.js</title>

  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">

  <meta name="description" content="asteroids on JS" />
  <meta name="keywords" content="asteroids, clone, js, game" />
  <meta name="author" content="jarvis" />

  <!-- Styles -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="js/p5.js"></script>

  <script src="js/Asteroid.js"></script>
  <script src="js/Ship.js"></script>

  <script src="js/Main.js"></script>
</head>

<body>

</body>

</html>